<!doctype html>

<title>Test</title> 
<meta charset=utf-8> 

<body>
	<!-- **1** link that makes the server say something-->
	<a href="/my-link/">Click me</a>
	<br><br>

	<!-- **3** form that lets user sumit a value and downloads based on that (not anymore)-->
	<!--       what this actually does is calls matlab to perform analysis-->
	<form method="post" action="{{ url_for('req') }}">
		<label for="npages">Number of Pages:</label>
		<br>
		<input type="text" name="npages" value="5">
		<br>
		<input type="submit" value="Make server do something" />
		<br><br>
	</form>
	
	
</body>
